body{
	background-color: #ffffe6;
	font-size: 20px;
	font-family: 'Oxygen', sans-serif;
	color: black;
}
h1{
	color: black;
	font-size: 200%;
	color:#557c3e;
	text-align:center;
	text-transform: capitalize;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
}
h2{
	color: black;
	font-size: 200%;
	color:black;
	text-align: center;
	text-transform: capitalize;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
}
.navbar{
	background-color: lightblue;
}
.navbar-toggle{
	margin-top: 23px;
}

.navbar-nav{
	background-color: #00ffe6;
	border: 1px solid black;
	margin-top: 0px;
	text-align: center;
	margin-bottom: 0px;
}

#bs-example-navbar-collapse-1{
	background-color:  #ffffe6;
	padding: 0px;
		
}
.page-header{
	background-color: #eeeeee;
	margin-top: 1px;
	padding-top: 0px;
}

@media (min-width: 768px) {
  .nav {
    display: none;
  }
}
section, #bs-example-navbar-collapse-1 a:hover{
	font-size: 120%;
	font-weight: bold;
	text-decoration: none;
}
a:hover{

	text-decoration: none;
}
#e-flag{
	height:30px;
	width: 60px;
}
#sec-div{
	margin-right: 15px;
	margin-left: 15px;
}